@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mines-navy: #21314D;
    --mines-silver: #8B9196;
    --mines-silver-light: #E8EAEB;
    --mines-black: #1A1A1A;
    --mines-white: #FFFFFF;
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(33, 49, 77, 0.3);
  }
}
